body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #a0c5c3;
    margin: 0;
    padding: 0;
}

center {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

hr {
    border: 2px dashed #151515;
    margin: 20px 0;
}

h1 {
    color: #020202;
    text-shadow: 2px 2px 2px #ccc;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #0db34a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #77810a;
}

a {
    padding: 10px;
    margin: 5px;
    background-color: #0db34a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #77810a;
    color: #fff;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f8f8ff;
    border-radius: 10px;
}

th, td {
    border: 2px solid #000000;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #1e3a2c;
    color: #fff;
    text-align: center;
    border-radius: 5px 0 0 0;
}

tr:hover {
    background-color: #cdfff6;
}

.columna1 {
    width: 20%;
}

.columna2 {
    width: 20%;
}

.columna3 {
    width: 60%;
}